Weather Agent/weather-specialist.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6418e2ec-91cb-4611-89e4-1227104f0737",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f971944-d57f-4eed-b05d-287940342ae7",
              "name": "Location",
              "value": "Enugu",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "f9d28f04-824d-4ff4-af78-1ac1facdb4f4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "cityName": "={{ $json.Location }}"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "b4c2baf2-b8c1-40e7-b86e-774e64517f4c",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "s18VUxicxCXotrEh",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1a1a284-5e0f-473a-813a-afb593b2087c",
              "name": "response",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        0
      ],
      "id": "8b6d3bb3-39f8-4c66-add7-ee4596f1a2f1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=Please convert the input from openweathermap into plain english with a friendly tone. To make it pretier, use relevan emojis.\nhere is the data:{{ JSON.stringify($json) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        672,
        0
      ],
      "id": "7c8571e3-02ea-4186-89df-f5ec61091a07",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "aIsmKZiudkcfaoQx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2af9cee7e0a174f5b690e0a925dc0fe21d624bfa2b661b7afe154d05f312d3c7"
  }
}
